/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .med {
    display: none;
  }

  .subnav {
    display: none;
  }

  /* .logo {
    font-size: 1.2rem;
  }

  .logo>img{
     width: 8vw;
  } */

 
  .content-sec-coursel {
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 25;
  }

  .content-sec-coursel p {
    font-size: 14px;
  }

  .word > p {
    font-size: 2.5rem;
  }

  .hero4-2 {
    padding-left: 150px;
  }

  .hero4-2 > button {
    display: none;
  }

  .main {
    flex-direction: column;
    height: 100%;
  }
  .big-img {
    width: 100%;
  }

  .small-img1 {
    width: 100%;
  }

  .small-img1 img {
    width: 20%;
    height: 15vh;
    overflow: hidden;
  }

  .small-img {
    width: 100%;
    padding-left: 0;
  }

  .sml-flx h2 {
    width: 100%;
    font-size: 16px;
  }

  .sml-flx p {
    width: 30%;
    padding-top: 2em;
    font-size: 18px;
  }

  .word2 > h3 {
    height: 20vh;
    padding: 9vh 0 0 4vw;
    font-size: 2.5rem;
    font-weight: 900;
  }

  .hero4 {
    height: 175vh;
  }

  .hero4 img {
    height: 60vh;
    width: 95%;
  }

  .hero4 h3 {
    font-size: 4rem;
  }
  .hero4 p {
    font-size: 2rem;
    width: 100%;
    padding: 10px;
    line-height: 7vh;
  }

  .hero4 button {
    /* margin-right: 150px; */
  }

  /* HERO-5--CARD */

  .main-card {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: wrap;
    flex-direction: column;
  }

  .firstcard,
  .secondcard,
  .thirdcard {
    width: 100%;
    display: inline-block;
    gap: 20px;
  }

  .firstcard2 {
    width: 90%;
    height: 550px;
  }

  .firstcard1 h2 {
    font-size: 2rem;
  }
  .firstcard1 > p {
    font-size: 1rem;
  }

  .firstcard2 h5 {
    font-size: 1.2rem;
    width: 60%;
  }

  .firstcard22{
    height: 110vh;
  }



  /* Hero-6 */
  .image-row {
    flex-direction: column;
  }

  .image-container p {
    width: 100%;
  }

  .image-container button {
    margin-bottom: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .med {
        display: none;
      }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .med {
    display: none;
  }

  .subnav {
    display: none;
  }

  .main {
    flex-direction: column;
    height: 100%;
  }
  .big-img {
    width: 100%;
  }

  .small-img1 {
    width: 100%;
  }

  .small-img1 img {
    width: 20%;
    height: 45vh;
    overflow: hidden;
  }

  .small-img {
    width: 100%;
    padding-left: 0;
  }

  .sml-flx h2 {
    width: 100%;
    font-size: 20px;
  }

  .sml-flx p {
    width: 30%;
    padding-top: 2em;
    font-size: 16px;
  }

  .small-img {
    padding-top: 50px;
  }

  .main-card {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    width:100%;
    flex-wrap:wrap;
  }

  .firstcard,
  .secondcard,
  .thirdcard {
    width:50%
  }

}
